<!doctype html>
<html lang='fr'>

<head>
  <meta charset="utf-8">
  <title>Bioinfo</title>

  <body>
    <% if (dataAsso) { %>
      <table>
        <thead>
          <th>SNP</th>
          <th>Pvalue</th>
          <th>Location</th>
          <th>Region</th>
          <th>Reported_Gene</th>
          <th>Mapped_Gene</th>
        </thead>
        <tbody>
          <td>
            <% for(let i in dataAsso.snp){ %>
              <p>
                <%=dataAsso.snp[i]%>
              </p>
              <% } %>
          </td>
          <td>
            <% for(let i in dataAsso.pvalue){ %>
              <p>
                <%=dataAsso.pvalue[i]%>
              </p>
              <% } %>
          </td>
        </tbody>
      </table>
      <% } %>
  </body>
</head>

</html>
