<!doctype html>
<html lang='fr'>

<head>
  <meta charset="utf-8">
  <title>Bioinfo</title>
  <link rel="stylesheet" href="Stylesheet/index.css"> </head>

<body>
  <header id="header" class="header" role="banner">
    <div class="banner_div">
      <p1>Interface Centralisation API</p1>
    </div>
  </header>
  <div class="research" id="button_search">
    <form id="form_snpInfo" method="post" action="/testAPIEnsembl">
      <input type="search" name="rs" placeholder="Search for rs" id="rs" class="rs" />
      <br />
      <select name="population">
        <%
        for (let i in data) {
          %>
        <option value="<%= data[i].name %>"><%= data[i].desc %></option>
        <%
        }
        %>
      </select>
      <br />
      <input type="submit" id="submit_id" class="submit" value="Research" /> 
    </form> <span id="string-msg">Exemple :   rs699</span>
    <form id="form_loc" method="post" action="/location">
      <input type="search" placeholder="Search for location" name="location" id="location" />
      <input type="search" placeholder="Nb max de rs recupere" name="location_nbMax" id="location_nbMax" />
      <input type="submit" id="submit_location" class="submit_location" value="Research" /> </form> <span id="string-msg">Exemple :  10:95000000-96000000</span>
    <div id="RsIdbox">
      <form id="form_fileup" method="post" action="/fileup" enctype="multipart/form-data">
        <input type='file' id="file" name='fileToUpload'>
        <input type='submit' id="valid" value='valider'>
        <br/> <span id="string-msg">Liste de rs_id (un/ligne)</span> </form>
    </div>
  </div>
  <div id='lien'> </div>
  <footer id="footer" class="footer" role="footer">
    <div class="footer-div">
      <div id='team_dev'>
        <p> Equipe PFE EFREI</p>
        <p>Developpeur : Galinou Silouane (silouane.galinou@efrei.net), Payet Xavier (xavier.payet@efrei.net)</p>
      </div>
      <!--<div id='autres'>
        <p>BI : Carette Julien, Puill Robin</p>
      </div>--></div>
  </footer>
</body>
