<!doctype html>
<html lang='fr'>
  <head>
    <meta charset="utf-8">
    <title>Bioinfo</title>
    
    <body>
      <form id="form-test" method="post">
        <input type="submit" id="submit" value="Test-get-api" />
      </form>
    </body>
  </head>
</html>