<!doctype html>
<html lang='fr'>

<head>
  <meta charset="utf-8">
  <title>Bioinfo</title>
  <link rel="stylesheet" href="/public/style.css">
   <style>
    body {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      width: 1200px;
      background-color: #FFF;
    }
    
    .research {
      background-color: #eeeeee;
      /* Couleur de fond */
      border-style: solid;
      /* Style de la bordure  */
      border-width: 1px;
      /* Epaisseur de la bordure  */
      border-color: #dddddd;
      /* Couleur de la bordure  */
      padding: 10px 10px 10px 10px;
      /* Espace entre les bords et le contenu : haut droite bas gauche  */
    }
    
    #form_snpInfo #rs {
      background-color: #ffffff;
      border-style: solid;
      border-width: 1px;
      border-color: #dddddd;
      padding: 5px 10px 5px 10px;
      box-sizing: border-box;
      font-family: Lato;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 1px;
    }
    
    #form_snpInfo #submit_id {
      background-color: #5f5f5f;
      color: #fff;
      border-style: solid;
      border-width: 1px;
      padding: 5px 10px 5px 10px;
      box-sizing: border-box;
      font-family: PT sans;
      font-size: 13px;
      font-weight: normal;
      letter-spacing: 2px;
      margin: 10px 0 0 0;
    }
    
    #form_asso #trait {
      background-color: #ffffff;
      border-style: solid;
      border-width: 1px;
      border-color: #dddddd;
      padding: 5px 10px 5px 10px;
      box-sizing: border-box;
      font-family: Lato;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 1px;
    }
    
    #form_asso #submit_trait {
      background-color: #5f5f5f;
      color: #fff;
      border-style: solid;
      border-width: 1px;
      padding: 5px 10px 5px 10px;
      box-sizing: border-box;
      font-family: PT sans;
      font-size: 13px;
      font-weight: normal;
      letter-spacing: 2px;
      margin: 10px 0 0 0;
    }
    
    #form_loc #location {
      background-color: #ffffff;
      border-style: solid;
      border-width: 1px;
      border-color: #dddddd;
      padding: 5px 10px 5px 10px;
      box-sizing: border-box;
      font-family: Lato;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 1px;
    }
    
    #form_loc #submit_location {
      background-color: #5f5f5f;
      color: #fff;
      border-style: solid;
      border-width: 1px;
      padding: 5px 10px 5px 10px;
      box-sizing: border-box;
      font-family: PT sans;
      font-size: 13px;
      font-weight: normal;
      letter-spacing: 2px;
      margin: 10px 0 0 0;
    }
    
    #string_msg {
      font-family: PT sans;
      font-size: 13px;
      font-weight: normal;
      letter-spacing: 2px;
    }
    
    #header {
      height: 100px;
      background-color: #5f5f5f;
      padding: 0 3rem;
      overflow: hidden;
      max-width: 100%;
      background-size: cover;
    }
    
    p {
      font-style: normal;
      font-size: 30px;
      color: #f1f1f1;
    }

  </style>
</head>

<body>
  <header id="header" class="header" role="banner">
    <div class="banner_div">
      <p>Version 1.0</p>
    </div>
  </header>
  <div class="research" id="button_search">
    <form id="form_snpInfo" method="post" action="/snpInfo">
      <br/>
      <input type="search" name="rs" pattern="^[Rr][Ss]\d+$" placeholder="Search for rs" id="rs" class="rs" />
      <input type="submit" id="submit_id" class="submit" value="Research" /> </form> <span id="string-msg">Exemple :   rs333</span>
    <form id="form_asso" method="post" action="/association">
      <input type="text" placeholder="Search for trait" name="trait" id="trait" />
      <input type="submit" id="submit_trait" class="submit_trait" value="Research_trait" /> </form> <span id="string-msg">Exemple :  breast carcinoma</span>
    <form id="form_loc" method="post" action="/location">
      <input type="text" placeholder="Search for location" name="location" id="location" />
      <input type="submit" id="submit_location" class="submit_location" value="Research_location" /> </form> <span id="string-msg">Exemple :  10:95000000-96000000</span> </div>
</body>
