<!doctype html>
<html lang='fr'>
  <head>
    <meta charset="utf-8">
    <title>Bioinfo</title>
    
    <body>
      <h1>Welcome to the version 0.1</h1>
      <h2>Here some test to check if we can retrieve some data from the different APIs</h2>
      <form id="form-test" method="post">
        <!-- <button name="gwas_api" value="gwas_api" id="gwas">GWAS_API</button>
        <button name="gtex_api" value="gtex_api" id="gtex">GTEX_API</button> -->
        <br/>
        <input type="text" name="rs" class="rs" />
        <input type="submit" id="submit" class="submit" value="Reseach" />
      </form>
    </body>
  </head>
</html>