<!doctype html>
<html lang='fr'>

<head>
  <meta charset="utf-8">
  <title>Bioinfo</title>
  <link rel="stylesheet" href="Stylesheet/location.css"> </head>

<body>
  <div id='content'>
    <%
    let max = nbMaxi
    for (let i = 0; i < data.length; i++) {      
    if (data[i]) { %>
      <table>
        <thead>
          <th>SNP</th>
        </thead>
        <tbody>
          <% for(let j in data[i].snp){ %>
            <tr>
              <td>
                <%=data[i].snp[j]%>
                  <!-- <a href="/testAPIEnsembl">Study</a>--></td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <% } %>
        <% } %>
  </div>
</body>

</html>
