<!doctype html>
<html lang='fr'>

<head>
  <meta charset="utf-8">
  <title>Bioinfo</title>
</head>

<body>
  <div id='content'>
    <%
    for (let i = 0; i < data.length; i++) {      
    if (data[i]) { %>
      <table>
        <thead>
          <th>SNP </th>
        </thead>
        <tbody>
          <td>
            <% for(let j in data[i].snp.SnpList){ %>
              <p>
                <%=data[i].snp.SnpList[j]%>
              </p>
              <% } %>
          </td>
        </tbody>
      </table>
      <% } %>
        <% } %>
  </div>
</body>

</html>
