<!doctype html>
<html lang='fr'>

<head>
  <meta charset="utf-8">
  <title>Bioinfo</title>

  <body>
    <% if (dataLoc) { %>
      <table>
        <thead>
          <th>SNP</th>
        </thead>
        <tbody>
          <td>
            <% for(let i in dataLoc.snp){ %>
              <p>
                <%=dataLoc.snp[i]%> <span>
                <a href="result.ejs" target="lien">
                  
                  </a>
                </span> </p>
              <% } %>
          </td>
        </tbody>
      </table>
      <% } %>
  </body>
</head>

</html>
