<!doctype html>
<html lang='fr'>

<head>
  <meta charset="utf-8">
  <title>Study</title>
</head>
<header id="header" class="header" role="banner">
  <div class="banner_div">
    <p1>Interface Centralisation API</p1>
  </div>
</header>

<body>
  <p> test </p>
</body>
<footer id="footer" class="footer" role="footer">
  <div class="footer-div">
    <div id='team_dev'>
      <p> Equipe PFE EFREI</p>
      <p>Developpeur : Galinou Silouane (silouane.galinou@efrei.net), Payet Xavier (xavier.payet@efrei.net)</p>
    </div>
    <!--<div id='autres'>
        <p>BI : Carette Julien, Puill Robin</p>
      </div>--></div>
</footer>

</html>
