<!doctype html>
<html lang='fr'>
  <head>
    <meta charset="utf-8">
    <title>Bioinfo</title>
    
    <body>
      <h1>Here the response of the <%= name %> API</h1>
      <label><%= data %></label>
    </body>
  </head>
</html>