<!doctype html>
<html lang='fr'>
  <head>
    <meta charset="utf-8">
    <title>Bioinfo</title>
    
    <body>
      <% if (data) { %>
      <label><%= data %></label> 
     <% } %>
    </body>
  </head>
</html>